.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.social-icons-container a {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.social-icons-container a:last-child {
  margin-right: 0;
}

.social-icons-container a:not(:last-child) {
  margin-right: 1rem;
}

.social-icons-container a:hover {
  color: #5ba5f5;
  transform: translateY(-3px);
}